# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [198]:
import pandas as pd
import numpy as np

In [232]:
recipes = pd.read_csv('recipes_sample.csv')
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [233]:
reviews = pd.read_csv('reviews_sample.csv', index_col=0)
# reviews = reviews.set_index('Unnamed: 0')
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [234]:
print(recipes.shape)
# recipes.info()
recipes.dtypes

(30000, 8)

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [235]:
print(reviews.shape)
# reviews.info()
reviews.dtypes

(126696, 5)

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [236]:
missings = 0
rows = reviews.shape[0]

# count NaNs values
missings += reviews.shape[0] - reviews.dropna().shape[0]
print('NaN values:', missings)

# drop 'em
# reviews = reviews.dropna()
# reviews = reviews[~reviews.isna()]

print('Percentage of missing rows: {} %'.format(round(missings/rows*100, 2)))

NaN values: 17
Percentage of missing rows: 0.01 %

In [237]:
missings = 0
rows = reviews.shape[0]

# count NaNs values
missings += recipes.shape[0] - recipes.dropna().shape[0]
print('NaN values:', missings)

# drop 'em
# recipes = recipes.dropna()
# reviews = reviews[~reviews.isna()]

print('Percentage of missing rows: {} %'.format(round(missings/rows*100, 2)))

NaN values: 17054
Percentage of missing rows: 13.46 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [61]:
round(reviews.describe(), 2)

            user_id  recipe_id     rating
count  1.266790e+05  126679.00  126679.00
mean   1.405547e+08  160093.55       4.41
std    5.048987e+08  129661.75       1.26
min    1.533000e+03      48.00       0.00
25%    1.353630e+05   54269.00       4.00
50%    3.325660e+05  117015.00       5.00
75%    8.049310e+05  242491.00       5.00
max    2.002372e+09  536747.00       5.00

In [60]:
round(recipes.describe(), 2)

              id    minutes  contributor_id   n_steps  n_ingredients
count   12946.00   12946.00    1.294600e+04  12946.00       12946.00
mean   226461.99     128.22    6.648361e+06      9.80           9.04
std    139897.82    1768.97    1.099544e+08      5.87           3.71
min       181.00       0.00    1.533000e+03      1.00           1.00
25%    106262.75      20.00    5.810400e+04      6.00           6.00
50%    212147.50      40.00    1.784270e+05      9.00           9.00
75%    336542.50      65.00    4.038525e+05     12.00          11.00
max    536747.00  129615.00    2.002248e+09     67.00          30.00

1.5 Создайте серию из 10 случайных названий рецептов.

In [62]:
recipes.sample(10)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
1790,baked chicken in parmesan and roasted garlic s...,413650,60,384041,2010-02-19,17.0,baked chicken in a flavorful sauce. reduced fa...,13.0
4722,cardamom flavoured chicken,79414,40,29196,2003-12-21,5.0,a simple chicken curry.,8.0
18310,mushroom potatoes,42738,45,27643,2002-10-08,6.0,this potato dish is creamy smooth. goes well w...,6.0
25924,stir fried beef broccoli and pecans in garlic...,127698,25,121690,2005-06-27,17.0,this asian-flavored recipe is adapted from a m...,14.0
1868,baked goat cheese for salads or sides,225884,20,375111,2007-05-02,8.0,perfect served on top of a bed of spring lettu...,5.0
4105,bun cha vietnamese pork meatball and noodle s...,501240,100,220195,2013-06-01,12.0,"hanoi street food, adapted from a recipe by la...",13.0
13886,homemade ponzu sauce,487741,5,1072593,2012-09-28,3.0,a decent substitution for the real thing.,6.0
19846,parmesan baked fries,223029,40,462577,2007-04-16,5.0,parmesan cheese & fresh seasonings make these ...,6.0
5687,chicken breasts with portabella mushrooms,399381,35,583349,2009-11-15,11.0,impressive dish with minimal effort involved. ...,10.0
16207,lime parfait pie,64837,10,68715,2003-06-17,7.0,this makes an impressive looking pie. a lovely...,6.0

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [64]:
reviews = reviews.reset_index(drop=True)
reviews.head()

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [66]:
recipes[(recipes.minutes <= 20) & (recipes.n_ingredients <= 5)].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
112,10 minute lime pie,513963,10,2284242,2014-03-04,12.0,a super easy stand-in for traditional key lime...,5.0
121,1000 island vegetable dip,121712,20,210965,2005-05-12,3.0,this is a delicious yet quick and easy vegetab...,2.0
143,2 minute broccoli,256464,4,165433,2007-10-01,7.0,"so easy. tender crisp. hot, steamed broccoli...",2.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [249]:
# to datetime
recipes.submitted = pd.to_datetime(recipes.submitted)

In [76]:
# to datetime while reading the file (modifying 1.1)
pd.read_csv('recipes_sample.csv', index_col=0, parse_dates=['submitted']).dtypes

id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [77]:
recipes[recipes.submitted.dt.year >= 2010].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
52,just peachy cobbler,437637,70,1085867,2010-09-17,10.0,all i can say is yummmmmm . . . a simple to ma...,10.0
105,1 minute breakfast sandwich,533190,3,33186,2017-08-14,10.0,there's no excuse to skip breakfast when it's ...,12.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [78]:
recipes['description_length'] = recipes['description'].str.len()

In [79]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
6,open sesame noodles,107229,28,173674,2004-12-30,8.0,this is a very versatile and widely enjoyed pa...,12.0,290
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0,230

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [80]:
recipes.name = recipes.name.str.title()
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
6,Open Sesame Noodles,107229,28,173674,2004-12-30,8.0,this is a very versatile and widely enjoyed pa...,12.0,290
8,1 In Canada Chocolate Chip Cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0,230

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [81]:
recipes['name_word_count'] = recipes.name.str.split().str.len()

In [82]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
6,Open Sesame Noodles,107229,28,173674,2004-12-30,8.0,this is a very versatile and widely enjoyed pa...,12.0,290,3
8,1 In Canada Chocolate Chip Cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0,230,6

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [191]:
# the groupby itself
contributors = recipes.groupby('contributor_id').agg(amount = ('contributor_id','count'))

In [192]:
# the easiest way
pd.DataFrame(contributors.sort_values(by='amount', ascending=False).head(1))

                amount
contributor_id
89831              182

In [194]:
# the correct way (my humble opinion)
# find max value in entire group
recipes_max = contributors.max()[0]
# show all contributors with this amount of written recipes
pd.DataFrame(contributors[contributors == recipes_max]).dropna()

                amount
contributor_id
89831            182.0

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [247]:
mean_rating = round(reviews.groupby('recipe_id').agg(mean_rating = ('rating', 'mean')))
mean_rating.value_counts()

mean_rating
5.0            16084
4.0             8685
3.0             1515
2.0              944
0.0              679
1.0              193
dtype: int64

In [239]:
# amount of recipes with no reviews
len(recipes.id.drop_duplicates())-len(reviews.recipe_id.drop_duplicates())

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [250]:
recipes.groupby(recipes.submitted.dt.year)['name'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [285]:
rating = recipes[['id', 'name']].merge(reviews[['recipe_id', 'user_id', 'rating']].rename(columns={'recipe_id':'id'}), how='left', on='id')

In [286]:
rating.head(2)

      id                                   name   user_id  rating
0  44123  george s at the cove  black bean soup  743566.0     5.0
1  44123  george s at the cove  black bean soup   76503.0     5.0

In [287]:
# making sure we have the same number of recipes with no reviews in new df
rating.id.count()-rating.rating.count()

1900

In [288]:
# show recipes with no reviews
rating[~rating.rating.notnull()]

            id                                     name  user_id  rating
191     223349            pasta  with shrimp   eggplant      NaN     NaN
195     342620          secret ingredient  bbq meatloaf      NaN     NaN
216     276594        windy s  sweet and sour meatballs      NaN     NaN
282     216068  goulashy  beef stew for the slow cooker      NaN     NaN
300     306590             old bay  grilled steak fries      NaN     NaN
...        ...                                      ...      ...     ...
128149   66966                       zingy potato salad      NaN     NaN
128256  249846       zucchini  mock green papaya  salad      NaN     NaN
128273  256177            zucchini and corn with cheese      NaN     NaN
128436  178243                       zucchini nut salad      NaN     NaN
128535  363362     zucchini with bell pepper and tomato      NaN     NaN

[1900 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [289]:
review_count = rating.groupby(['id', 'name']).agg(review_count=('rating', 'count')).reset_index()
review_count.sample(5)

           id                                    name  review_count
4582    61879  anne of green gables raspberry cordial             3
20046  290436  mango peach strawberry raspberry salad             1
15601  217030    megan s amazing buffalo garlic chili             2
445      9360                           canned salmon             0
19124  274896                     no joke texas salsa             0

In [290]:
review_count[review_count.name == 'zucchini with bell pepper and tomato']

           id                                  name  review_count
23997  363362  zucchini with bell pepper and tomato             0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [291]:
rating = rating.merge(recipes[['submitted', 'id']], how='inner', on='id')
rating.sample(5)

,id,name,user_id,rating,submitted
78005,349246,microwave chocolate mug brownie,1.803070e+09,5.0,2009-01-11
38546,79013,crock pot curried turkey,3.588210e+05,5.0,2003-12-15
73286,254778,lisa s grilled steak marsala,6.744840e+05,5.0,2007-09-24
61546,71439,honeydew melon salsa,2.001113e+09,0.0,2003-09-14
114564,99918,thai noodles with spicy peanut sauce,2.000344e+09,5.0,2004-09-15

In [307]:
pd.DataFrame(rating.groupby(rating.submitted.dt.year).rating.mean().nsmallest(1))

           rating
submitted
2017         2.75

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3