# Pandas

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd
import numpy as np

In [2]:
recipes = pd.read_csv('recipes_sample.csv')
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [3]:
reviews = pd.read_csv('reviews_sample.csv', index_col=0)
# reviews = reviews.set_index('Unnamed: 0')
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print(recipes.shape)
# recipes.info()
recipes.dtypes

(30000, 8)

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [5]:
print(reviews.shape)
# reviews.info()
reviews.dtypes

(126696, 5)

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [6]:
missings = 0
rows = reviews.shape[0]

# count NaNs values
missings += reviews.shape[0] - reviews.dropna().shape[0]
print('NaN values:', missings)

# drop 'em
# reviews = reviews.dropna()
# reviews = reviews[~reviews.isna()]

print('Percentage of missing rows: {} %'.format(round(missings/rows*100, 2)))

NaN values: 17
Percentage of missing rows: 0.01 %

In [7]:
missings = 0
rows = reviews.shape[0]

# count NaNs values
missings += recipes.shape[0] - recipes.dropna().shape[0]
print('NaN values:', missings)

# drop 'em
# recipes = recipes.dropna()
# reviews = reviews[~reviews.isna()]

print('Percentage of missing rows: {} %'.format(round(missings/rows*100, 2)))

NaN values: 17054
Percentage of missing rows: 13.46 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [8]:
round(reviews.describe(), 2)

            user_id  recipe_id     rating
count  1.266960e+05  126696.00  126696.00
mean   1.408013e+08  160094.39       4.41
std    5.053139e+08  129668.34       1.26
min    1.533000e+03      48.00       0.00
25%    1.353770e+05   54269.00       4.00
50%    3.326700e+05  117015.00       5.00
75%    8.049808e+05  242491.00       5.00
max    2.002372e+09  536747.00       5.00

In [9]:
round(recipes.describe(), 2)

              id    minutes  contributor_id   n_steps  n_ingredients
count   30000.00   30000.00    3.000000e+04  18810.00       21120.00
mean   221879.29     123.36    5.635901e+06      9.81           9.01
std    140974.43    1660.88    1.007373e+08      5.94           3.72
min        48.00       0.00    1.530000e+03      1.00           1.00
25%     99713.50      20.00    5.596450e+04      6.00           6.00
50%    207773.50      40.00    1.699690e+05      9.00           9.00
75%    333696.75      65.00    3.960780e+05     12.00          11.00
max    536747.00  129615.00    2.002248e+09     88.00          34.00

1.5 Создайте серию из 10 случайных названий рецептов.

In [10]:
recipes.sample(10)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
18226,mucho macho pepper rub,432035,5,655428,2010-07-06,1.0,"a spicy pepper rub for baby back ribs, from ou...",5.0
22113,ranch and avocado pasta salad,322546,25,485109,2008-09-03,5.0,this makes a good lunch or side dish and can b...,8.0
11400,fresh peach cobbler with almond crunch topping,2803,60,1549,1999-09-12,NaN,NaN,NaN
14165,hot buttered rum,78833,4,73471,2003-12-13,5.0,standard issue recipe in regards to a seasonal...,6.0
15473,knock your socks off chicken,199333,80,280271,2006-12-05,16.0,every time i make this i'm asked for the recip...,14.0
25800,staffordshire oatcake,121540,60,22642,2005-05-11,NaN,my friend got this recipe from a tourist leafl...,NaN
4993,ch easy golden garlic bread,179280,20,331589,2006-07-25,5.0,"this goes before normal garlic bread, and ever...",8.0
18740,no puree cauliflower soup,117306,50,126435,2005-04-15,NaN,i searched for a cauliflower soup recipe with ...,13.0
12633,green and red tomato rice,91524,40,30534,2004-05-21,6.0,another recipe from my favorite italian cookbook,NaN
23880,seven vegetable couscous,385370,60,37449,2009-08-13,NaN,this is a very traditional dish with some mode...,NaN

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [11]:
reviews = reviews.reset_index(drop=True)
reviews.head()

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [12]:
recipes[(recipes.minutes <= 20) & (recipes.n_ingredients <= 5)].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [13]:
# to datetime
recipes.submitted = pd.to_datetime(recipes.submitted)

In [14]:
# to datetime while reading the file (modifying 1.1)
pd.read_csv('recipes_sample.csv', index_col=0, parse_dates=['submitted']).dtypes

id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [15]:
recipes[recipes.submitted.dt.year >= 2010].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [16]:
recipes['description_length'] = recipes['description'].str.len()

In [17]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [18]:
recipes.name = recipes.name.str.title()
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [19]:
recipes['name_word_count'] = recipes.name.str.split().str.len()

In [20]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [21]:
# the groupby itself
contributors = recipes.groupby('contributor_id').agg(amount = ('contributor_id','count'))

In [22]:
# the easiest way
pd.DataFrame(contributors.sort_values(by='amount', ascending=False).head(1))

                amount
contributor_id
89831              421

In [23]:
# the correct way (my humble opinion)
# find max value in entire group
recipes_max = contributors.max()[0]
# show all contributors with this amount of written recipes
pd.DataFrame(contributors[contributors == recipes_max]).dropna()

                amount
contributor_id
89831            421.0

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [24]:
mean_rating = round(reviews.groupby('recipe_id').agg(mean_rating = ('rating', 'mean')))
mean_rating.value_counts()

mean_rating
5.0            16084
4.0             8685
3.0             1515
2.0              944
0.0              679
1.0              193
dtype: int64

In [25]:
# amount of recipes with no reviews
len(recipes.id.drop_duplicates())-len(reviews.recipe_id.drop_duplicates())

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [26]:
recipes.groupby(recipes.submitted.dt.year)['name'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [27]:
rating = recipes[['id', 'name']].merge(reviews[['recipe_id', 'user_id', 'rating']].rename(columns={'recipe_id':'id'}), how='left', on='id')

In [28]:
rating.head(2)

      id                                   name   user_id  rating
0  44123  George S At The Cove  Black Bean Soup  743566.0     5.0
1  44123  George S At The Cove  Black Bean Soup   76503.0     5.0

In [29]:
# making sure we have the same number of recipes with no reviews in new df
rating.id.count()-rating.rating.count()

1900

In [30]:
# show recipes with no reviews
rating[~rating.rating.notnull()]

            id                                     name  user_id  rating
191     223349            Pasta  With Shrimp   Eggplant      NaN     NaN
195     342620          Secret Ingredient  Bbq Meatloaf      NaN     NaN
216     276594        Windy S  Sweet And Sour Meatballs      NaN     NaN
282     216068  Goulashy  Beef Stew For The Slow Cooker      NaN     NaN
300     306590             Old Bay  Grilled Steak Fries      NaN     NaN
...        ...                                      ...      ...     ...
128149   66966                       Zingy Potato Salad      NaN     NaN
128256  249846       Zucchini  Mock Green Papaya  Salad      NaN     NaN
128273  256177            Zucchini And Corn With Cheese      NaN     NaN
128436  178243                       Zucchini Nut Salad      NaN     NaN
128535  363362     Zucchini With Bell Pepper And Tomato      NaN     NaN

[1900 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [31]:
review_count = rating.groupby(['id', 'name']).agg(review_count=('rating', 'count')).reset_index()
review_count.sample(5)

           id                                               name  review_count
10664  141717  Cream Of Jerusalem Artichoke Soup With Saffron...             1
28217  459763                                  Melon Berry Bliss             3
11386  152368                Florentine Chicken And Pierogi Soup             3
29408  499341                 Broccoli  Ham And Cheese Casserole             6
20001  289807    Irish Coffee From The Buena Vista San Francisco             5

In [32]:
review_count[review_count.name == 'zucchini with bell pepper and tomato']

Empty DataFrame
Columns: [id, name, review_count]
Index: []

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [33]:
rating = rating.merge(recipes[['submitted', 'id']], how='inner', on='id')
rating.sample(5)

,id,name,user_id,rating,submitted
37674,219847,Crispy French Fries,173579.0,5.0,2007-03-31
118147,27208,To Die For Crock Pot Roast,26313.0,4.0,2002-05-03
67193,80118,Kittencal S Bakery Buttercream Frosting Icing,354689.0,5.0,2004-01-05
43774,53831,Easy And Tasty Meatloaf,463640.0,5.0,2003-02-10
59953,30200,Hickory Smoked Bbq Baby Back Ribs,593431.0,5.0,2002-06-03

In [34]:
pd.DataFrame(rating.groupby(rating.submitted.dt.year).rating.mean().nsmallest(1))

           rating
submitted
2017         2.75

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [37]:
recipes.sort_values('name_word_count', ascending=False).to_csv('sorted_recipes.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [40]:
with pd.ExcelWriter('Рецепты с оценками.xlsx') as w:
    rating.to_excel(w, index=False)

In [41]:
with pd.ExcelWriter('Количество отзывов по рецептам.xlsx') as w:
    review_count.to_excel(w, index=False)